.info{
    &__img--icon{
        width: 4rem;
        height: 4rem;
    }

    &__p--type{
        font-size: .8rem;
    }

    &__p--number{
        font-size: 1.9rem;
        font-weight: 700;
    }
}