@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

$font: 'Poppins', sans-serif;
$info-color: rgba(24,25,27,.5); 
$color1: #4993DA;
$color2: #FFEC65;
$white: #f4f4f4;